body{
display: flex;
background-color: white;
font-family: Garamond, serif;
}
@media(max-width:500px){
    body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.cont1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
gap: 10px;
background-image: url("backimg.webp");
background-size: cover;
background-repeat: no-repeat;
height: 252px;
border-top-right-radius: 30px;
}

#tr3{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}
#sp1::before {
    content: "";
    font-size: 50px;
    animation: animate infinite 4s;
    
    
}
@keyframes animate {

    0% {
        content: "S";
    }

    7% {
        content: "SH";
    }

    14% {
        content: "SHA";
    }
    21% {
        content: "SHAH";
    }
    28% {
        content: "SHAHW";
    }
    35% {
        content: "SHAHWA";
    }
    42% {
        content: "SHAHWAI";
    }
    49% {
        content: "SHAHWAIZ";
    }
    56% {
        content: "SHAHWAIZ H";
    }
    63% {
        content: "SHAHWAIZ HA";
    }
    70% {
        content: "SHAHWAIZ HAS";
    }
    77% {
        content: "SHAHWAIZ HASS";
    }
    84% {
        content: "SHAHWAIZ HASSA";
    }
    93% {
        content: "SHAHWAIZ HASSAN";
    }

}
.sec1{
    height: 100%;
    width: 30%;
    color: white;
    /*  */
    display: flex;
    justify-content: start;
    flex-direction: column;
    /* align-items: center; */
    background-color: #161c2e;
    margin-left: 20px;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
}
.Namebar{
    width: 100%;
    height: 10%;
    justify-content: center;
    
}
.bigsec{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px ;
}
#imagediv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #030303 ;
    height: 100%;
    margin-bottom: -20px;
    border-top-left-radius: 30px ;

    
}
#img1{
    height: 40%;
   width: 50%;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 50%;
}
.cont{
    text-align: center;
    width: 100%;
}
.cont h1{
    padding-top: 10px;
    color: white;   
    background-color: #161c2e;
    height: 48px;
    border-radius: 10px;
       
}

#ph{
    width: 100%;
    margin-top: -20px;
    background-color: white;
    text-align: center;
    margin-bottom: -20px;
}
#ph1{
    color: rgb(0, 0, 0); 
text-decoration: underline;  
}
.num{
    margin-top: -10px;
    color: #000000;
    font-weight: bolder;
}
#educationcontent{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#educpara{
    padding-left: 10px;
    font-weight: bold;
    background-color: white;
    margin-top: -22px;
    justify-content: center;
    color: black;
}
.shakalaka{
    text-align: left;
}
#sh2{
    display: flex;
    justify-content: center;
    background-color: white;
}
#sh2 ul{
    color: black;
}
#cont22{
    padding-top: 10px;
    margin-top: -20px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;
background-color: white;
border-bottom-left-radius: 30px;
}
#cont22 img{
    width: 100%;
}
#skilldiv{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    background-color: #161c2e;
    
}
#skills{
    display: flex;
    justify-content: center;
}
.skill1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0, 0, 0, 0.22);
    height: 50%;
}
.skill1 li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin-top: -10px;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px;
    float: left;
    background-color: #ffffff;
}
.html1{
    width: 90%;
    animation: infinite html1 8s ;
}

.css1{
    width: 70%;
    animation: infinite css1 8s;
}
.java1{
    width: 90%;
    animation: infinite java1 8s;
}
.msserv1{
    width: 85%;
    animation: infinite msserv1 8s;
}
.js1{
    width: 65%;
    animation: infinite js1 8s;
}
.c1{
    width: 95%;
    animation: infinite c1 8s; 
}
.jf1{
    width: 85%;
    animation: infinite jf1 8s; 
}

.asm1{
    width: 92%;
    animation: infinite asm1 8s; 
}

@keyframes html1{
    0%{
        width: 0%;
    }
    100%{
        width: 90%
    }
}

@keyframes css1{
    0%{
        width: 0%;
    }
    100%{
        width: 70%
    }
}


@keyframes java1{
    0%{
        width: 0%;
    }
    100%{
        width: 90%
    }
}
@keyframes msserv1{
    0%{
        width: 0%;
    }
    100%{
        width: 85%
    }
}

@keyframes js1{
    0%{
        width: 0%;
    }
    100%{
        width: 65%
    }
}

@keyframes c1{
    0%{
        width: 0%;
    }
    100%{
        width: 95%
    }
}

@keyframes jf1{
    0%{
        width: 0%;
    }
    100%{
        width: 85%
    }
}

@keyframes asm1{
    0%{
        width: 0%;
    }
    100%{
        width: 92%
    }
}
#ab{
    border-radius: 0;
    margin-top: -0.1px;
}
#abpara{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
#ab{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
}