
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" type="image/x-icon" href="img/titleicon1.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        
        <div id="header1">
            <a href="/" class="" id="anchorhead">
                <img src="/img/titleicon.png" width="50" alt="Cookbook Community" id="cookbookimg">
                <p id="titletext">Cookbook Community</p>
            </a>
            <div id="navdiv">
                <ul>
                    <li><a href="/" class="">Home</a></li>
                    <li><a href="/categories" class=" ">Categories</a></li>
                    <li><a href="/submit"  id="subhead1" class="">Submit Recipe</a></li>
                    <li><a href="/contact" class="">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-end" id="formdiv">
                <form method="POST" action="/search" id="form1">
                    <input type="search" name="searchTerm" class="form-control" placeholder="Search..."
                    aria-label="Search" id="searchbar">
                </form>
            </div>
       </div>
       
       
    
    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    
</body>